</div>
<div class="bigImage valign-wrapper">
  <div class="valign">
    <div class="container">
        <h1 class="hide-on-small-only title right-align">Ache Um Lugar para Viver</h1>
        <h1 class="hide-on-med-and-up center-align">Ache um Lugar ;)</h1><br/>
    </div>
  </div>
</div>

<div class="container body">
<%= render "layouts/search" %>

<h2 class="hide-on-small-only">Imóveis em destaque:</h2>
<h2 class="hide-on-med-and-up">Imóveis</h2>
  <div class="row">
    <% @destaques.each do |imovel| %>
    <div class="col s12 m4 l3">
      <div class="card-panel imovel">
        <% unless imovel.fotos.empty? %>
          <a><%= image_tag imovel.fotos.first.image.url(:thumb), class: "" %></a>
        <% end %>
        <h4><%= imovel.titulo %></h2>
        <% unless imovel.cidade.nil? %>
          <p class="cidade-nome"><%= imovel.cidade.nome %></p>
        <% end %>
        <div class="row center">
          <div class="col s4"><%= inline_svg("sedan.svg",  class: "icons") %> <%= imovel.quartos %></div>
          <div class="col s4"><%= inline_svg("bed.svg",  class: "icons") %> <%= imovel.quartos %></div>
          <div class="col s4"><%= inline_svg("shower.svg",  class: "icons shower") %> <%= imovel.banheiros %></div>
        </div>
      </div>
    </div>  
    <% end %>
  </div>
</div>

<style>

  .formuPesqui {
    display: block;
    position: relative;
    top: -8px;
  }
  

</style>