<div class="container  index">
<h1>Listing imovels</h1>

<% @imovels.each do |imovel| %>
<div class="card-panel row imvInd">
  <div class="col l3">

    <% if (imovel.venda && imovel.aluguel) %>
      <div class="vend">VENDA</div><div class="alug">ALUGUEL</div>

    <% else %>
      <% if imovel.venda %>
        <div class="venda">VENDA</div>
      <% elsif imovel.aluguel %>
        <div class="aluguel">ALUGUEL</div>
      <% end %>
    <% end %>

    <% unless imovel.fotos.empty? %>
      <%= image_tag(imovel.fotos.first.image.url(:thumb)) %>
    <% end %>
  </div>

  <div class="col l5">
    <h4><%= imovel.titulo %></h4>
    <p class="text"><%= imovel.descricao %></p>
  </div>

  <div class="col l3">
  <ul>
        <ul class="infoList">
          <li><%= inline_svg("bed.svg", class: "icone2" ) %><%= imovel.quartos %> quartos <% unless imovel.suites == 0 || imovel.suites.nil? %>, <%= imovel.suites %> suíte<% unless imovel.suites <= 1 %>s<% end %><% end %></li>
          <li><%= inline_svg("shower.svg", class: "icone2") %><%= imovel.banheiros %> banheiros <% unless imovel.suites == 0 || imovel.suites.nil? %>, <%= imovel.suites %> d<% if imovel.suites == 1 %>a<% else %>e<% end %> suíte<% unless imovel.suites <= 1 %>s<% end %><% end %></li>
          <% unless imovel.vagas == 0 || imovel.vagas.nil? %>
            <li><%= inline_svg("sedan.svg", class: "icone2") %><%= imovel.vagas %> vagas de garagem</li>
          <% end %>
        </ul>
  </ul>
  </div>
  <div class="col l1 center">
  <ul class="crud">
<!--     <li><%= form_for imovel do |f| %><%= f.check_box :destaque, class: "checkbox" %><%= f.submit %><% end %></li>
 -->    <li><%= link_to 'Exibir', imovel %></li>
    <li><%= link_to 'Modificar', edit_imovel_path(imovel) %></li>
    <li><%= link_to 'Deletar', imovel, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este imóvel?' } %></li>
  </ul>
  </div>
</div>
<% end %>

<br>

<%= link_to 'New Imovel', new_imovel_path %>
</div>

<%= javascript_include_tag "readmore" %>
<script>
$('.text').readmore({
  moreLink: '<a href="#">Ver mais</a>',
  lessLink: '<a href="#">Ver menos</a>'
});
</script>