<h1>Pesquisa</h1>

<%= form_tag imovels_path, :method => "get" do %>

    <%= collection_select :cidade, :id, Cidade.order(:nome), :id, :nome, :prompt => "Escolha a cidade" %>
    <%= collection_select :bairro, :id, Bairro.order(:nome), :id, :nome, :prompt => "Escolha o bairro" %>
    <%= collection_select :tipo, :id, Tipo.order(:nome), :id, :nome, :prompt => "Escolha o tipo de imóvel" %>

  <%= submit_tag "Buscar", name: "" %>

<% end %>

<h1>Listing imovels</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Cidade</th>
      <th>Bairro</th>
      <th>Venda</th>
      <th>Aluguel</th>
      <th>Quartos</th>
      <th>Banheiros</th>
      <th>Suites</th>
      <th>Vagas</th>
      <th>Preco</th>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Descricao curta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imovels.each do |imovel| %>
      <tr>
        <td><%= imovel.tipo.nome unless imovel.tipo.nil? %></td>
        <td><%= imovel.cidade.nome unless imovel.cidade.nil? %></td>
        <td><%= imovel.bairro.nome unless imovel.bairro.nil? %></td>
        <td><%= imovel.venda %></td>
        <td><%= imovel.aluguel %></td>
        <td><%= imovel.quartos %></td>
        <td><%= imovel.banheiros %></td>
        <td><%= imovel.suites %></td>
        <td><%= imovel.vagas %></td>
        <td><%= imovel.preco %></td>
        <td><%= imovel.titulo %></td>
        <td><%= imovel.descricao %></td>
        <td><%= imovel.descricao_curta %></td>
        <td><%= link_to 'Show', imovel %></td>
        <td><%= link_to 'Edit', edit_imovel_path(imovel) %></td>
        <td><%= link_to 'Destroy', imovel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imovel', new_imovel_path %>
