<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @imovel.tipo %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @imovel.cidade %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @imovel.bairro %>
</p>

<p>
  <strong>Venda:</strong>
  <%= @imovel.venda %>
</p>

<p>
  <strong>Aluguel:</strong>
  <%= @imovel.aluguel %>
</p>

<p>
  <strong>Quartos:</strong>
  <%= @imovel.quartos %>
</p>

<p>
  <strong>Banheiros:</strong>
  <%= @imovel.banheiros %>
</p>

<p>
  <strong>Suites:</strong>
  <%= @imovel.suites %>
</p>

<p>
  <strong>Vagas:</strong>
  <%= @imovel.vagas %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @imovel.preco %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @imovel.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @imovel.descricao %>
</p>

<p>
  <strong>Descricao curta:</strong>
  <%= @imovel.descricao_curta %>
</p>

<h2>Pictures</h2>
<div>
  <ul>
    <% unless @imovel.fotos.empty? %>
      <% @imovel.fotos.each do |pic| %>
        <a href="<%= pic.image.url(:medium) %>">
          <li>
            <%= image_tag pic.image.url(:thumb) %>
          </li>
        </a>
      <% end %>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_imovel_path(@imovel) %> |
<%= link_to 'Back', imovels_path %>
